.containerformulario{text-align: center;
                     padding-top: 1rem;
                     

                    .tituloform{
                        color: $letraprincipal;
                        font-family: $fuentemainyfooter;}
                        
                    .subtituloform{
                        color: $letraprincipal;
                        font-family: $fuentemainyfooter;}  
                    form{
                        color: $colorformulario;}
                        
                    
                    }  




