.containertabla{
               .giras{
                color:$letraprincipal;
                font-family: $fuentemainyfooter;
                text-align: center;}
               table{
                     .titulostabla{
                        color: $colortitulostablas;
                        text-align: center ;}
                     .contenidotabla{
                        color: $colorletratabla;
                        text-align: center;}   

                   }
            



                  }