.containernoticias{
                  .noticia1{
                           color: $letraprincipal;
                           font-family: $fuentemainyfooter;
                           text-align: center;
                           background-color: $noticia1;}  
                   .parrafo1{
                          color: $colorformulario;
                          font-family: $fuentemainyfooter;
                          background-color: $parrafo1;}  
                   .noticia2{
                          color: $letraprincipal;
                          font-family: $fuentemainyfooter;
                          text-align: center;
                        background-color: $noticia2;}   
                    .parrafo2{
                         color: $colorformulario;
                         font-family: $fuentemainyfooter;
                         background-color: $parrafo2;
                         }                       
                    .noticia3{
                          color: $letraprincipal;
                          font-family: $fuentemainyfooter;
                          text-align: center;
                        background-color: $noticia3;}
                    .parrafo3{
                         color: $colorformulario;
                         font-family: $fuentemainyfooter;
                         background-color: $parrafo3;}
                    .noticia4{
                          color: $letraprincipal;
                          font-family: $fuentemainyfooter;
                          text-align: center;
                        background-color: $noticia4;}
                    .parrafo4{
                         color: $colorformulario;
                         font-family: $fuentemainyfooter;
                        background-color: $parrafo4;}

}