$colorfondo: black;
$colorletratitulo: white;
$titusize: 6rem;
$fuentetitulo:'Times New Roman', Times, serif;
$estilotitulo: bold;
$ubicaciontitulo: center;
$letraprincipal: rgb(241, 186, 3);
$fuentemainyfooter: Arial, Helvetica, sans-serif;
$letrahover: white;
$colorfondohover: black;
$colortitulostablas:  rgb(182, 197, 93);
$colorletratabla: white;
$colorformulario: wheat;
$parrafo1: rgb(3, 94, 82);
$noticia1:rgb(0, 112, 75);
$parrafo2:rgb(3, 94, 82);
$noticia2: rgb(0, 112, 75);
$parrafo3: rgb(3, 94, 82);
$noticia3: rgb(0, 112, 75);
$parrafo4: rgb(3, 94, 82);
$noticia4: rgb(0, 112, 75);
$estilotitulovideos:3rem

