.containervideos{ 
    background-color: $colorfondo;
                .titulovideos{
                         color: $colorformulario;
                         font-family: $fuentemainyfooter;
                         text-align: center;
                         font-size: $estilotitulovideos;
                         text-decoration: underline;
                        }
}